#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.results{
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 2em;
}
p{
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  text-overflow: ellipsis;
  height: 90px;
}